<ion-header>
  <ion-toolbar color="primary">
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button (click)="register()">Register</ion-button>
  <ion-button (click)="login()">Login</ion-button>
</ion-content>
